<?xml version="1.0" encoding="utf-8"?>
<!--
 * @package   FAQ
 * @copyright Copyright (C) 2018 Nikolai N. Demin All rights reserved.
 * @license   MIT license: http://codemirror.net/LICENSE
-->
<config>
    <fieldset name="component"
              label="COM_FAQ_OPTIONS"
              description="COM_FAQ_OPTIONS_DESC"
    >
        <field name="include_jquery" type="radio"
               default="2"
               label="COM_FAQ_INCLUDE_JQUERY"
               description="COM_FAQ_INCLUDE_JQUERY_DESC">
            <option value="1">COM_FAQ_INCLUDE_JQUERY_NO</option>
            <option value="2">COM_FAQ_INCLUDE_JQUERY_YES</option>
            <option value="3">COM_FAQ_INCLUDE_JQUERY_YES_NO_CONFLICT</option>
        </field>

    </fieldset>
    <fieldset name="permissions"
              description="JCONFIG_PERMISSIONS_DESC"
              label="JCONFIG_PERMISSIONS_LABEL"
    >
        <field name="rules" type="rules"
               component="com_faq"
               filter="rules"
               validate="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               section="component" />
    </fieldset>
</config>